<div class="card">
  <div class="card-header">
    {{format_date createdAt}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">Author: {{user.username}}</p>
    {{!-- {{#if loggedIn}} --}}
    <a href="/posts/{{id}}" class="btn btn-primary">Read more..</a>
    {{!-- {{else }} --}}
    {{!-- <a href="/login" class="btn btn-primary">Read more..</a> --}}
    {{!-- {{/if}} --}}
    {{!-- {{#if userId}}
    <button class="btn btn-primary">Update</button>
    {{/if}} --}}
  </div>
</div>