<div class="card" style="width: 900px;">
  <div class="card-header">
    {{format_date createdAt}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">Author: {{user.username}}</p>
    <a href="/posts/{{id}}" class="btn btn-primary">Read more..</a>
    <button class="update-btn btn btn-primary">Update</button>
    <div id="update-post">
      {{!-- <input type="text" class="form-control" placeholder="Update your title here" id="post-title" value={{title}} > --}}
      <textarea 
      data="{{id}}"class="form-control" 
      placeholder="Update your post here" 
      id="post-description" 
      style="width:800px; height:150px;"
      >{{description}}         
      </textarea>
      <button class="btn btn-primary" id="submit-update">Submit</button>
      <button class="btn btn-primary" id="cancel-update">Cancel</button>
    </div>
  </div>
</div>