<div class="col">   
    <div class="card">
      <div class="card-header">
        {{format_date singlePost.createdAt}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{singlePost.title}}</h5>
        <p class="card-text">Posted by: {{singlePost.user.username}} </p>
        <p class="card-text">{{singlePost.description}} </p>
        {{!-- <a href="/posts/{{id}}" class="btn btn-primary" id ="comment-btn">Comments</a> --}}
        <button class="btn btn-primary" id ="comment-btn">Comments</button>
        <button class="btn btn-primary" id ="delete-btn">Delete</button>
      </div>
    </div>
    <div class="comment-form"style=" display:none;">
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea" class="comments"></label>
        <button class="btn btn-primary" id ="comment-button" style="margin-top:5px; color:var(--primary); background-color:white;">Post comment</button>
      </div>
    </div>
    {{#each singlePost.comments}}
    <div class="card">
      <div class="card-header">
        {{format_date this.createdAt}}
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p class="card-text">{{this.description}}</p>
          <footer class="blockquote-footer">{{this.user_id}}</footer>
        </blockquote>
      </div>
    </div>
    {{/each}}
</div>



<script>
  const commentButton = document.getElementById('comment-btn');

  const openCommentForm = () => {
      const commentForm = document.querySelector('.comment-form');
      commentForm.setAttribute('style', "display:block; width:1200px; background-color:var(--primary); padding:10px; border-radius:5px;");
  }
  commentButton.addEventListener('click', openCommentForm)

const submitComment = async (event) => {
    event.preventDefault();
  
    let commentDescription = document.querySelector('floatingTextarea')
    
  
  
    const card = document.createElement('div');
    const cardHeader = document.createElement('div');
    const cardBody = document.createElement('div');
    const cardBlockquote = document.createElement('blockquote');
    const commentText = document.createElement('p');
    const commentFooter = document.createElement('footer');
    
    
    
    const postContainer = document.querySelector('.col')
    card.setAttribute('class', 'card')
    cardHeader.setAttribute('class', 'card-header')
    cardBody.setAttribute('class', 'card-body');
    cardBlockquote.setAttribute('class', 'blockquote mb-0');
    commentText.setAttribute('class', 'card-text');
    commentFooter.setAttribute('class', 'blockquote-footer');
  
    postContainer.appendChild(card);
    card.appendChild(cardHeader, cardBody);
    cardBody.appendChild(cardBlockquote);
    cardBlockquote.appendChild(commentText, commentFooter)

    const data = {
      description: commentDescription,
    }
    
    const response = await fetch('/api/comments', {
      method: 'POST',
      body: JSON.stringify(data),
      headers: { 'Content-Type': 'application/json' },
    });
    console.log(response)
    if (response.ok) {
        document.location.replace(window.location.href);
    } else {
      console.log('Error:', response.status);
    }
  };

  const deletePost = async (event) => {

    const response = await fetch('/posts/id', {
      method: 'DELETE',
    });
    if (response.ok) {
      document.location.replace('/dashboard');
    } else {
      alert('Failed to delete post')
    }
  };
  
  document.getElementById('comment-button').addEventListener('click', submitComment);
  document.getElementById('delete-btn').addEventListener('click', deletePost);


</script>

{{#if loggedIn}}
<script>
  const logout = async () => {
    const response = await fetch('/api/users/logout', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
    });
  
    if (response.ok) {
      document.location.replace('/');
    } else {
      alert('Failed to log out.');
    }
  };
  
  document.querySelector('#logout').addEventListener('click', logout);
  
</script>
{{/if}}